
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edicao</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body class="container">
    <div>

        <h1>Atualizar dados do funcionário</h1>
        <a href="/Funcionario/Consulta">Voltar</a>
        <hr />

        <!-- definir a classe de modelo -->
        @model Projeto.Presentation.Models.FuncionarioEdicaoViewModel

        <!-- criando o formulário -->
        @using (Html.BeginForm())
        {            
            <label>Id do Funcionário:</label>
            @Html.TextBoxFor(model => model.IdFuncionario,
                new { @class = "form-control col-md-4",
                      @readonly = "readonly"})
            <br/>

            <label>Nome do Funcionário:</label> <br />
            @Html.TextBoxFor(model => model.Nome,
                new { @class = "form-control col-md-4" })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
            <br />

            <label>Salario:</label> <br />
            @Html.TextBoxFor(model => model.Salario,
                new { @class = "form-control col-md-4" })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Salario)
            </div>
            <br />

            <label>Data de Admissão:</label> <br />
            @Html.TextBoxFor(model => model.DataAdmissao,
                new { @class = "form-control col-md-4" })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.DataAdmissao)
            </div>
            <br />

            <input type="submit" value="Atualizar Funcionário"
                   class="btn btn-primary" />
            <br />
            <br />

            <div>
              @ViewBag.Mensagem
            </div>
        }

    </div>
</body>
</html>
